/* Contador  */
:root {
    --color-primario: #ff4000;
    --color-secundario: #ffcb00;
    --gris: #5e666b;
}
.number-count {
    border:solid 4px var(--color-primario);
    color: var(--color-primario);
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 25px;
    line-height: 5vh;
    text-align: center;
    font-size: 2vh;
    margin: 0 auto;
}
.position-absolute{
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 1;
}
.fecha {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-primario);
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .number-count {
        width: 150px;
        height: 150px;
        display: block;
        border-radius: 75px;
        line-height: 15vh;
        text-align: center;
        font-size: 9vh;
        margin: 0 auto;
    }
    
    .fecha {
        font-size: 2rem;
        font-weight: 800;
    }
 }
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
/* Extra large devices (large desktops, 1366px and up)*/
@media (min-width: 1366px) {  }